*{

    background-color: seashell;;
    }
    
    nav{
        background-color: blue;
        height: 80px;
    }
    .navigation li {
        float:inline-end;
        display: inline ;
        margin: 0px 20px;
        padding: 20px;
        text-decoration: none;
    }
    body {
        background-color: whitesmoke;;
        background-size: 1000px 10000px;
        background-position: 0px 0px 50px;
        background-repeat: no-repeat;
    }
    img{
        position: absolute
        left: 900px;
        top: 150px
    }
    #todo {
        display: inline-block;
        border: 1px solid#0000;
      }
      .divimg{
        float: left;
        height: 100px;
        margin-right: 0px;
        margin-bottom: 0px;
      }
      </style>
      <div id="todo">
        <img class="divimg"  src="big.jpg">
        <img class="divimg"  src="blue.jpg">
        <img class="divimg"  src="bg.jpg">
        <img class="divimg"  src="Hellen and chris.jpg">
        <img class="divimg"  src="barth.jpg">
      </div>
    